
    <nav>
      <div class="menu">
        <div class="logo">
          <a href="#">Shopping hub</a>
        
          
            
        </div>
        <ul>
          <li><a href="#" routerLink="/ahome">Home</a></li>
          <li><a href="#" routerLink="/aabout">About</a></li>
          <li><a href="#" routerLink="/uproducts">Products</a></li>
          <li><a href="#" routerLink="/aacart">Cart</a></li>
          <li><a href="#" routerLink="/home">LogOut</a></li>
        </ul>
      </div>
    </nav>
    <br>


<br>
<br>
<br>
<br>

<div class="about-section">
    <h1>About Us</h1>
    <p>Arisglobal professional service developer track</p>
    
  </div>
  
  <h2 style="text-align:center">Our Team</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <div class="img2"></div>
        <div class="container">
          <h2>Teresa Nancy</h2>
          <p class="title">Team Leader</p>
          <p>Arisglobal managed services</p>
          <p>Teresa.nancy@arisglobal.com</p>
          
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <div class="img1"></div>
        <div class="container">
          <h2>Ramanath kamath</h2>
          <p class="title">Trainee</p>
          <p>Arisglobal managed services</p>
          <p>ramanath.kamath@arisglobal.com</p>
         
        </div>
      </div>
    </div>
    <div class="row">
    <div class="column">
     <div class="card">
        <div class ="img3"></div>
        <div class="container">
            
          <h2>Sahana</h2>
          <p class="title">Trainee</p>
          <p>Arisglobal Service Delivery</p>
          <p>Sahana.hs@arisglobal.com</p>
        </div>
        </div>
      </div>
    </div>
    <div class="row">
  <div class="column">
    <div class="card">
      <div class="img4"></div>
      <div class="container">
        <h2>Acharya Suraj Suresh</h2>
        <p class="title">Trainee</p>
        <p>Arisglobal Serive Delivery</p>
        <p>Acharya.suresh@arisglobal.com</p>
        
      </div>
    </div>
  </div>
  <div class="row">
    <div class="column">
      <div class="card">
        <div class="img6"></div>
        <div class="container">
          <h2>Jyotsna Verma</h2>
          <p class="title">Trainee</p>
          <p>Arisglobal Serive Delivery</p>
          <p>jyotsna.verma@arisglobal.com</p>
          
        </div>
      </div>
    </div>
    <div class="row">
        <div class="column">
          <div class="card">
            <div class="img5"></div>
            <div class="container">
              <h2>Thanmayi Ashok</h2>
              <p class="title">Trainee</p>
              <p>Arisglobal Serive Delivery</p>
              <p>thanmayi.ashok@arisglobal.com</p>
              
            </div>
          </div>
        </div>
        <div class="move">
        <div class="row">
            
            <div class="column">
              <div class="card">
                <div class="img7"></div>
                <div class="container">
                  <h2>Thanushree G N</h2>
                  <p class="title">Trainee</p>
                  <p>Arisglobal managed services</p>
                  <p>thanushree.gn@arisglobal.com</p>
                  </div>

                </div>
              </div>
            </div>
            