.body{
    float: left;
    width: 30%;
    margin-bottom: 5px;
    padding: 0 8px;
    display: flex;
    margin: 8px;
    flex-direction: row;
    flex-wrap: fixed;
    
}

.card{
    padding: 10px 10px 10px;
    border-radius: 8px;
    border: 1px solid black;
    margin-bottom: 30px;

}
.button{
    width: 100px;
    height: 40px;
    border-radius: 5px;
}
.a1{
    color:white;
}
.card:hover {
    border:5px solid grey;
    background-color:whitesmoke;
  }
button:hover{
      border: 3px solid brown;
      
  }

  .top{
    background-color:black;
    text-align: center;
    color: white;
    border:5px solid grey;
    font-size: 18px;
    margin-bottom: 40px;
    
}
.mobile1{
    justify-content: space-between;
    padding: 30px;
}