<body>
    <nav>
      <div class="menu">
        <div class="logo">
          <a href="#">Shopping hub</a>
        
          
            
        </div>
        <ul>
          <li><a href="#" routerLink="/ahome">Home</a></li>
          <li><a href="#" routerLink="/aabout">About</a></li>
          <li><a href="#" routerLink="/uproducts">Products</a></li>
          <li><a href="#" routerLink="/aacart">Cart</a></li>
          <li><a href="#" routerLink="/home">LogOut</a></li>
        </ul>
      </div>
    </nav>
    <div class="img"></div>
    <div class="center">
      <div class="title">Shopping begins</div>
      <div class="sub_title">Electroic Gadgets</div>
      <div class="btns"></div>
    </div>
  </body>
  <router-outlet></router-outlet>

